{
  "root": true,
  "env": {
    "node": true,
    "jest": true
  },
  "extends": [
    "plugin:vue/essential",
    "eslint:recommended",
    "plugin:testing-library/vue",
    "plugin:jest-dom/recommended"
  ],
  "rules": {},
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "plugins": [
    "testing-library",
    "jest-dom"
  ]
}